.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 50px;
  button {
    padding: 8px 24px;
    font-size: 20px;
    width: fit-content;
    background-color: black;
    color: #fefefe;
    border: 1px solid transparent;
    border-radius: 10px;
    &:hover {
      background-color: rgb(65, 65, 65);
    }
  }
}
.minutesContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.errorImage {
  width: 200px;
}
