<div class="container">
  <div class="minutesContainer">
    <input
      type="range"
      min="0"
      max="120"
      class="slider"
      [(ngModel)]="minutes"
      (ngModelChange)="onInputChange()"
    /><span> {{ minutes }} min </span>
  </div>

  <button (click)="start()" class="button">Start session</button>
  <div [ngClass]="{ errorContainer: true, show: error, hide: !error }">
    <div>
      <p>time is truly relative...</p>
      <img
        src="./assets/images/einsteinIsImpressed.png"
        class="errorImage"
        height="112.5px"
        alt=""
      />
      <p>...but not that much</p>
    </div>

    <button (click)="closeError()">x</button>
  </div>
</div>
