.starsContainer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #000022; /* Dark blue background */
  background-image: linear-gradient(

    #21104f,

  );
  overflow: hidden;
}

.star {
  position: absolute;
  z-index: 0;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: sparkle 2s infinite;
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
