<h2>Countdown Timer</h2>

@if (seconds >=80*60) {
<img src="assets/images/manTimer80.png" alt="the happiest man" />

} @else if(seconds > 40*60){
<img src="assets/images/manTimer40.png" alt="very happy man" />

}@else {
<img src="assets/images/manTimer.png" alt="happy man" />

}
<ng-container #cont></ng-container>

<ng-template #settings>
  <app-settings
    (timeChange)="changeTime($event)"
    (modeChange)="changeMode($event)"
  ></app-settings>
</ng-template>

<ng-template #timer>
  <app-timer [timer]="seconds" (modeChange)="changeMode($event)"></app-timer>
</ng-template>

<ng-template #success>
  <app-success (modeChange)="changeMode($event)"></app-success>
</ng-template>
