main {
  width: 100vw;
  height: 100vh;
}
h2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#fffeb4, #feee91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 9px -2px 26px #fffeb4;
}
.container {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
