<div
  class="range"
  #range
  (mousedown)="rangeSliderStart()"
  (touchstart)="rangeSliderStart()"
  (mousemove)="updatePointsFromStyles($event)"
  (touchmove)="updatePointsFromStyles($event)"
  (mouseup)="rangeSliderStop()"
  (touchend)="rangeSliderStop()"
>
  <input
    type="range"
    name="points"
    min="0"
    max="120"
    [(ngModel)]="minutes"
    (ngModelChange)="(updatePointsFromStyles)"
    [disabled]="mode !== 'settings'"
    class="count"
  />
  <div class="slice left">
    <div class="blocker"></div>
  </div>
  <div class="slice right">
    <div class="blocker"></div>
  </div>
  <span class="info"> </span>
  <div #dial class="dial" tabindex="0"></div>
</div>
